NET "rst"  LOC = "C9"; 
NET "clk"  LOC = "V10"; 

NET "a_to_g[0]"  LOC = "L14"; 
NET "a_to_g[1]"  LOC = "N14"; 
NET "a_to_g[2]"  LOC = "M14"; 
NET "a_to_g[3]"  LOC = "U18"; 
NET "a_to_g[4]"  LOC = "U17"; 
NET "a_to_g[5]"  LOC = "T18"; 
NET "a_to_g[6]"  LOC = "T17"; 

NET "an[0]"  LOC = "N16"; 
NET "an[1]"  LOC = "N15"; 
NET "an[2]"  LOC = "P18"; 
NET "an[3]"  LOC = "P17";

NET "btn[0]"   LOC = "T10";
NET "btn[1]"   LOC = "T9";
NET "btn[2]"   LOC = "V9";
NET "btn[3]"   LOC = "M8";
NET "btn[4]"   LOC = "N8";
NET "btn[5]"   LOC = "U8";
NET "btn[6]"   LOC = "V8";
NET "btn[7]"   LOC = "T5";