//! **************************************************************************
// Written by: Map P.20131013 on Wed May 04 14:17:31 2016
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "N8" LEVEL 1;
COMP "r<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "f" LOCATE = SITE "U8" LEVEL 1;
COMP "g" LOCATE = SITE "V8" LEVEL 1;
COMP "r<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "h" LOCATE = SITE "T5" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "x<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "x<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "x<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "l<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "x<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "l<1>" LOCATE = SITE "N11" LEVEL 1;
COMP "l<2>" LOCATE = SITE "R11" LEVEL 1;
COMP "l<3>" LOCATE = SITE "T11" LEVEL 1;
COMP "z<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "z<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "z<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "z<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "z<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "z<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "z<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "a" LOCATE = SITE "T10" LEVEL 1;
COMP "r<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "b" LOCATE = SITE "T9" LEVEL 1;
COMP "c" LOCATE = SITE "V9" LEVEL 1;
COMP "r<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "d" LOCATE = SITE "M8" LEVEL 1;
SCHEMATIC END;

