Net "oe" LOC = L18;
Net "we" LOC = M16;
Net "adv" LOC = H18; 
Net "clk_out" LOC = R10;
Net "ce" LOC = L15;
Net "cre" LOC = M18; 
Net "ub" LOC = K15; 
Net "lb" LOC = K16;
Net "we_en" LOC = T5;

NET "clr" LOC = "C9";
NET "clk" LOC = "V10";

NET "a_to_g[0]"  LOC = "L14"; 
NET "a_to_g[1]"  LOC = "N14"; 
NET "a_to_g[2]"  LOC = "M14"; 
NET "a_to_g[3]"  LOC = "U18"; 
NET "a_to_g[4]"  LOC = "U17"; 
NET "a_to_g[5]"  LOC = "T18"; 
NET "a_to_g[6]"  LOC = "T17"; 
NET "an[0]"  LOC = "N16"; 
NET "an[1]"  LOC = "N15"; 
NET "an[2]"  LOC = "P18"; 
NET "an[3]"  LOC = "P17"; 
NET "dp"   LOC = "M13";

Net "addr[0]" LOC = K18;
Net "addr[1]" LOC = K17;
Net "addr[2]" LOC = J18;  
Net "addr[3]" LOC = J16;  
Net "addr[4]" LOC = G18; 
Net "addr[5]" LOC = G16; 
Net "addr[6]" LOC = H16;  
Net "addr[7]" LOC = H15;  
Net "addr[8]" LOC = H14; 
Net "addr[9]" LOC = H13; 
Net "addr[10]" LOC = F18;  
Net "addr[11]" LOC = F17; 
Net "addr[12]" LOC = K13;  
Net "addr[13]" LOC = K12;
Net "addr[14]" LOC = E18;  
Net "addr[15]" LOC = E16; 
Net "addr[16]" LOC = G13; 
Net "addr[17]" LOC = H12; 
Net "addr[18]" LOC = D18; 
Net "addr[19]" LOC = D17;
Net "addr[20]" LOC = G14;
Net "addr[21]" LOC = F14;
Net "addr[22]" LOC = C18;

Net "data[0]" LOC = R13;
Net "data[1]" LOC = T14;
Net "data[2]" LOC = V14; 
Net "data[3]" LOC = U5; 
Net "data[4]" LOC = V5; 
Net "data[5]" LOC = R3; 
Net "data[6]"  LOC = T3;  
Net "data[7]"  LOC = R5; 
Net "data[8]"  LOC = N5; 
Net "data[9]"  LOC = P6; 
Net "data[10]"  LOC = P12;
Net "data[11]"  LOC = U13;
Net "data[12]"  LOC = V13; 
Net "data[13]"  LOC = U10; 
Net "data[14]"  LOC = R8;  
Net "data[15]"  LOC = T8;  